.parent {
    width: 300px;
    height: 200px;
    margin: 250px auto;
    position: relative;
    animation-name: parentAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transform-style: preserve-3d;

}
@keyframes parentAnimation {
    from {transform:  rotateY(0deg)}
    to {transform: rotateY(360deg)}
}
.child {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: front 10s infinite;
}
.child::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    transform: translateZ(-100px);
    background: black;

}
.child::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: red;
    animation: front 10s infinite;
}

@keyframes front {
    from {transform:  rotateZ(0deg)}
    to {transform: rotateZ(720deg) }
}

